/* You can add global styles to this file, and also import other style files */
.page-header h1 {
    font-family: 'open_sansextrabold';
    color: brown;
    margin: 20px;
}

.ask-doctor-textarea {
    background-color: brown;
    padding: 15px;
    margin-left: 5%;
}

.ask-style {
    height: 250px; 
    width: 500px;
}

.login-button-home
{
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    position: absolute;
    left: 30%;
   top:40%;
   text-align: center;

}
